@import "tailwindcss";

@theme {
	/* --color-second-bg: #ffffff80;
	--fg-color: #000;
	--fg-gray-color: #00000080;
	--sb-color: #dee4e7; */
}

body {
	width: 100%;
	min-height: 100dvh;
	overflow: auto;
}

#root {
	position: relative;
	width: 100%;
	min-height: 100dvh;
}
